<!-- <div class="container"> -->
  <div id="tt-view" class="block">
    <center>
     <div style="width:100%; border-bottom: solid black; padding-bottom: 6px;">
       Showing <span id="tracetreehistory-seq"></span> of <span id="num-tracetrees"></span>
       <a id="tracetreehistory-prev-link" href="#/tracetreehistory" ng-hide="hide_prev()" ng-click="prev()">Previous</a>
       <a id="tracetreehistory-next-link" href="#/tracetreehistory" ng-hide="hide_next()" ng-click="next()">Next</a>
       <select name="packet-dropdown" id="packet-dropdown" ng-model="data.selection" ng-change="change_packet(data.selection)"></select>
       <div id="tracetreehistory-packet-timestamp"></div>
       <div id="tracetreehistory-packet-string"></div>
     </div>
     <svg width=100% height=100%>
    </center>
  </div>
  <!-- </div> -->
